.events-container {
    background: #cbe8fd;
    margin-top: 10px;
    padding: 10px;  
}
.events-header {
    transition: 0.6s;
    cursor: pointer;
}
.events-header:hover {
    background:#edebf8;
}

.events-header h3 {
    font-family: EB Garamond, serif;   
}