.event-container {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(242, 246, 255);
}

.event-header {
    display: flex;
    justify-content: space-between;
}

.event-details {
    font-style: italic;
    font-weight: bold;
    text-align: center;

}

.details-title {
    margin-bottom: 5px;
}

.confirmed-check {
    color: #981438;
    font-size: large;
}

.event-actions-members {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}