.content-container {
    border: solid white;
    border-image: url("../../images/customBorder.png") 33% repeat round;
    border-image-width: 50px;
    background: #f3ebf2;
    padding-bottom: 10px;

}

#intro {
    background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/041.jpg");
    height: 400px;
}

@media (min-width: 576px) {
    #intro {
        height: 600px;
    }
}

.text-right {
    text-align: right;
}


.divider {
    background-color: black;

}

.welcome-container, .about-container, .events-section {
    font-family: EB Garamond, serif;
}

.welcome-container p {
    margin-bottom: 0px;
    margin-top:20px;
}

.about-container h2 {
    font-weight: bold;
}

.carousel-div {
    margin-left: 70px;
}