@font-face {
    font-family: WebGaramond;
    src: url("https://github.com/slinderman/thesis/blob/master/fonts/EB%20Garamond/EBGaramond-InitialsF1.otf");
}

.heading {
    font-family: EB Garamond, serif;
    color: white;
  }

  .colors {
    background: black;
    color: white;
  }
  
  .navbar-container {
    background: transparent;
    display: flex;
    flex-direction: column;
  }

.first-letter {
    font-family: WebGaramond; 
    color: white;
}

.heading-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.auth-btn {
  padding: 5px;
  background: white;

}